.about {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url(../img/sectionbg1\ 1.png);
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 40% 70%;
}
.about__titlecontainer {
  font-family: "Titan One";
}

.about__title2 {
  margin-top: 60px;
  color: $color-h3;
  text-align: center;
  font-size: 1em;
  height: 21px;
  left: 58px;
  line-height: 21px;
  cursor: pointer;
}
.about__title2:hover {
  letter-spacing: 15px;
  transition: 1s;
  transition-timing-function: ease-in;
}
.about__title3 {
  padding-left: 40px;
  padding-right: 40px;
  margin-right: 0em;
  color: $color-h2;
  text-align: center;
  margin-top: 15px;
  font-size: 2em;
  height: 76px;
  left: 56px;
  line-height: 38.93px;
}
.about__title3:hover {
  letter-spacing: 20px;
  padding: 0;
  transition: 1s;
  transition-timing-function: ease-in-out;
}
.about__img {
  margin-right: 20px;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.about__img :hover {
  transform: rotate(30deg);
  transition: 3s;
}
.about__img img {
  width: 280px;
  height: 279px;
  cursor: pointer;
}
.about__paragraphs {
  display: flex;
  gap: 26px;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
}
.about__paragraphs li {
  display: flex;
}
.about__paragraph {
  justify-content: center;
  align-content: center;
  width: 320px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 19.44px;
}

.about__paragraph1 {
  margin-top: 40px;
  width: 280px;
  height: 79px;
  color: var(--text);
  padding-right: 80px;
  margin-bottom: 5px;
  cursor: pointer;
}
.about__paragraph1:hover {
  transform: scale(1.05);
  transition: .4s;
}

.about__paragraph2 {
  width: 260px;
  height: 181px;
  color: var(--text3);
  padding-top: 40px;
  margin-right: 20px;
  cursor: pointer;
  
}
.about__paragraph2:hover {
  transform: scale(1.1);
  transition: .4s;
}

.about__button {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 22px;
  background-color: $color-white;
  border: 0px;
  box-shadow: $primary-shadow;
  width: 176px;
  height: 44px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  color: $color-h2;
  margin-top: 50px;
}
.about__button:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .about {
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-image: none;
   
  }

  .about__title2 {
    margin-top: 60px;
    font-weight: 400;
    font-size: 26px;
    line-height: 29.77px;
  }
  .about__title3 {
    margin-top: 26px;
    padding: 0 170px;
    height: 55px;
    font-weight: 400;
    font-size: 48px;
    line-height: 30px;
  }
  .about__img {
    margin-right: 0px;
  }
  .about__img img {
    width: 350px;
    height: 350px;
    margin-right: 0px;
  }
  .about__paragraph {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    gap: 150px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24.64px;
    letter-spacing: 0.04em;
  }

  .about__paragraph1 {
    padding-right: 0px;
    width: 354px;
  }
  .about__paragraph2 {
    padding: 0px;
    padding-right: 0px;
    width: 354px;
    height: 155px;
    background-image: none;
  }
  .about__button {
    background-color: $color-white;
    border: 0px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background-image: url(../img/sectionbg1\ 1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: 6;
  }

  .container {
    width: 1280px;
  }

  .about__title2 {
    padding: 0 300px;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0.04em;
  }
  .about__title3 {
    padding: 0 333px;
    height: 55px;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.06em;
  }
  .about__img {
    margin-top: 60px;
  }
  .about__img img {
    width: 400px;
    height: 400px;
    margin-top: 60px;
  }
  .about__paragraphs {
    gap: 20px;
    margin-top: 150px;
  }
  .about__paragraph {
    padding: 0px;
    height: 521px;
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    width: auto;
    
    font-size: 16px;
    line-height: 28.16px;
    letter-spacing: 0.04em;
  }
  .about__paragraph1 {
    width: 463px;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    padding-right: 0px;
  }
  .about__paragraph2 {
    padding-right: 0px;
    width: 463px;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
  }
  .about__button {
    background-color: $color-white;
    border: 0px;
  }
}
