
.gallery{
  display: flex;
  justify-content:center;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  gap: 2px;
  &__list {
    list-style-type: none;
    padding: 0px;
  }
  &__image {
    @include width-height(43.59px, 43.86px);
    transition: all 250ms;
  }
  &__image:hover {
    transform: scale(1.1);
  }
  .img--four {
    @include width-height(89.4px, 89.61px);
    width: 89.4px;
    height: 89.61px;
  }
  .column {
    flex-direction: column;
  }
  .size {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 480px) {

  .gallery{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    gap: 2px;
    &__list {
      list-style-type: none;
      padding: 0px;
    }
    &__image {
      @include width-height(70.59px, 70.86px);
      transition: all 250ms;
    }
    &__image:hover {
      transform: scale(1.1);
    }
    .img--four {
      @include width-height(110.4px, 110.61px);
      width: 120.4px;
      height: 120.61px;
    }
    .column {
      flex-direction: column;
    }
    .size {
      margin-bottom: 35px;
    }
  }
}


@media screen and  (min-width: 768px) {
  .gallery{
    justify-content: center;
    gap: 6.07px;
    &__image {
      @include width-height(104.62px, 105.14px);
    }
    .img--four {
      @include width-height(214.55px, 214.81px);
    }
    .size {
      margin-bottom: 65px;
    }
  }
}
@media screen and  (min-width: 1200px) {
  .gallery{
    justify-content: center;
    gap: 8px;
    margin: 120px 94px 120px 93px;
    &__image {
      @include width-height(138px, 138.68px);
    }
    .img--four {
      @include width-height(283px, 283.34px);
    }
    .size {
      margin-bottom: 95px;
    }
  }
}
